@charset "utf-8";
/* CSS Document */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d9f2d9;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table thead tr {
  background-color: green;
}